// pallet
// @link https://chir.ag/projects/name-that-color
// --------------------------------
$_white-solid: #fff;
$_black-solid: #000;
$_alabaster: #f7f7f7;
$_kabul: #56443c;
$_copper: #BF8132;
$_copper_rust: #8C4D59;
$_amulet: #76A279;


// Basic color setting
// --------------------------------
$_primary: $_kabul;
$_primary-dark: darken($_kabul, 15%); //#29201d
$_secondary: $_copper_rust;
$_white: $_alabaster;


// Backgrounds
$color__background: $_white;
$color__background-accent: $_primary;
$color__background-input: $_white-solid;

// Text
$color__text: $_primary-dark;
$color__text-white: $_white;
$color__text-input: $_black-solid;
// $color__text-screen: #21759b;
// $color__text-input: #666;
// $color__text-input-focus: #111;

// Links
// $color__link: #0073aa;
// $color__link-visited: #0073aa;
// $color__link-hover: darken( $color__link, 10% );

// Borders
$color__border: $_amulet;
// $color__border-link: #0073aa;
// $color__border-link-hover: darken( $color__link, 10% );
// $color__border-button: #ccc #ccc #bbb;
// $color__border-button-hover: #ccc #bbb #aaa;
// $color__border-button-focus: #aaa #bbb #bbb;
// $color__border-input: $color__border;
// $color__border-abbr: #666;

// Shadow
$color__box-shadow: rgba(0, 0, 0, 0.15);