// size
$size-ss: 1.0rem;
$size-s: 1.2rem;
$size-m: 1.4rem;
$size-default: 1.6rem;
$size-l: 1.8rem;
$size-ls: 2.0rem;
$size-ll: 2.5rem;
$size-xl: 3.0rem;

// weight
$weight-thiner: 300;
$weight-default: 400;
$weight-bolder: 700;

// family
$font-family__sans-serif: "BIZ UDPGothic", "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
$font-family-serif: "Times New Roman", 'Noto Serif JP', "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
$font-family-mail: "Meiryo UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN","Yu Gothic UI", "MS PGothic", sans-serif;