
.u-font-size--ss {
  font-size: $font-size-ss;
}
.u-font-size--s {
  font-size: $font-size-s;
}
.u-font-size--m {
  font-size: $font-size-m;
}
.u-font-size--l {
  font-size: $font-size-l;
}
.u-font-size--ll {
  font-size: $font-size-ll;
}
.u-font-color--white {
  color: $color-white;
}
.u-font-color--info {
  color: $color-info;
}
.u-font-color--danger {
  color: $color-danger;
}
.u-font-color--accent {
  color: $color-accent;
}
.u-font-weight--bolder {
  font-weight: $font-weight-bolder;
}
.u-font-line {
  background: linear-gradient(transparent 50%, #fcee21 0%)
}