@use "../setting" as *;

.l-header {
    width: 100%;
    height: 50px;
    line-height: 1.5rem;
    background: $color__background-accent;
    box-sizing: border-box;
    color: $color__text-white;
    padding: $space__m;
    @include mq() {
        height: 130px;
    }
}